<h2> All users </h2>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= link_to user.username, user_url(user) %>
    <% if current_user.admin? %>
      <%= button_to "Delete User", user_url(user), :method => :delete %>
    <% end %>
  </li>
  <% end %>
</ul>